body {
    background-image: url("../images/popcorn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

.container {
    background-color: whitesmoke;
    opacity: .8;
    align-content: center;
    margin-top: 100px;
}

h1 {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

#instructions {
    border: ridge;
    border-color: goldenrod;
    padding: 10px;
    margin-left: 80px;
    align-content: center;
}

ol {
    margin-top: 10px;
    margin-left: 40px;
}

#startButton {
    margin: 20px;
    text-align: center;
}

#timer {
    text-align: center;
    margin: 20px;

}

#displayImage {
    padding-left: 60px;
    text-align: center;
}

#alerts {
    border: ridge;
    border-color: goldenrod;
    padding: 10px;
    margin-left: 80px;
    align-content: center;
    text-align: center;
}

#questionChoices {
    padding: 20px;
}